*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin-top: 12px;
    background: #1F2937;
     color: #F9FAF8;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 8px 28px;
    font-size: 20px;
    color: #E5E7EB;
}



.header{
    justify-content: space-between;
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

.right{
    display: flex;
    gap: 18px;
    color: #E5E7EB;
}


.left{

    font-weight:900;
    font-size: 24px;

}

.bigtitle{
    font-size: 48px;
    font-weight: bold;
    max-width: 350px;


}

.body{
    display: flex;
}

.greyrectangle{
    
}




