*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
   
    color: #F9FAF8;

    font-size: 18px;
}

.firstcontainer{
    background: #1F2937;
    padding: 4px 130px 160px 130px;
    
}

button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 28px;
    margin-top: 20px;
    font-size: 20px;
    color: #E5E7EB;
}



.header{
    justify-content: space-between;
    display: flex;
    margin-bottom: 150px;
    align-items: center;
}

.right{
    display: flex;
    gap: 18px;
    color: #E5E7EB;
}


.left{

    font-weight:900;
    font-size: 24px;

}

.bigtitle{
    font-size: 48px;
    font-weight: bolder;
    max-width: 350px;


}

.body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


}

.littlepar{
    width: 450px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.greyrectangle{
    background: rgb(137, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    flex-shrink: 1;

}

.underbackground{
    background: white;
    color: #1F2937;

}

.secondtitle{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 22px;
}



